.top-text {
  margin-top: 100px;
  margin-bottom: 150px;
  color: #ffffff;
}

.top-btn {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.top-link {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}


.top::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.text-row {
  margin-top: 130px;
}