// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-edit-btn {
  width: 60%;
  margin-bottom: 20px;
}

.favorite-index-title {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}