// Place all the styles related to the companies/conpanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.company-post-text {
  color: #ffffff;
  text-align: center;
  margin: 50px auto 50px;
  
}

