// Place all the styles related to the companies/conpanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.company-post-text {
  color: #ffffff;
  text-align: center;
  margin: 50px auto 50px;
}


.edit-title {
  color: #ffffff;
  text-align: center;
  margin: 50px auto 50px;
}


.edit-btn {
  width: 60%;
  margin-bottom: 20px;
}


.unsubscribe-title {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}


.btn-form {
  text-align: center
}


.unsubscribe-btn {
  width: 60%;
  height: 50px;
  margin-bottom: 30px;
}