// Place all the styles related to the companies/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.new-post-title {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.post-edit-title {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.post-create-btn {
  width: 60%;
  margin-bottom: 20px;
}

.post-edit-btn {
  width: 60%;
  margin-bottom: 20px;
}

.btn-form {
  margin-top: 100px;
}

