<% user_visiter = notification.user_visiter %>
<% post = notification.post %>


<div class="user-view">
  <%= link_to user_user_path(notification.user_visiter) do %>
    <%= image_tag user_visiter.get_user_image, size: "50x50", class:"rounded-circle" %>
  <% end %>
  <span class="text-white">
    <%= notification_form(notification) %>
  </span>
  <span class="text-light ml-2">
    <%= " ...#{time_ago_in_words(notification.created_at)}å‰" %>
  </span>
</div>
