<% user_visiter = notification.user_visiter %>
<% post = notification.post %>

  <div class="user-view clearfix">
    <%= link_to user_user_path(notification.user_visiter) do %>
      <%= image_tag user_visiter.get_user_image, size: "50x50", class:"profile-img-circle" %>
    <% end %>
    <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    <br>
    <%# if !@comment.nil? %>
      <p class="moderate-font text-center" style="color: #C0C0C0;"><%#= @comment %></p>
    <%# end %>
  </div>
