.title {
  text-align: center;
  color: #ffffff;

}

.field {
  padding: 10px;
}

input .form {
  width: 100%;
  margin: 0 auto;
}

select {
  width: 100%;
  margin: 0 auto;
}

option {
  text-align: center;
}

.radio-btn {
  margin-left: 60px;
}

.submit {
  text-align: center;
  margin: 20px 0 20px;
}