<div class="container">
  <div class="row justify-content-center about-page">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 text-white">
      <p class="about-text">
        このサイトは日本で社会問題となっている後継者不足を解消するため、
        後継者不足で悩んでいる会社と、後継者不足の会社を助けたい若者を繋げるSNS型マッチングサイトです！
      </p></br>
      <p class="about-text">DESIBOはよくあるマッチングサイトとは違い、会社様側にSNSのような投稿機能があります！</p></br>
      <p class="about-text">そのため、今まで入社してからじゃなきゃわからなかった社内の雰囲気や詳しい仕事内容を事前に把握することができるので、</p></br>
      <p class="about-text">後継者不足の解消を手伝いたいと思っている方たちに本当に働きたいと思える会社を見つけていただけると思います！</p></br>
    </div>
  </div>
</div>
