<div class="container">
  <div class="row">
    <div class="col-md-4 offset-2">
      <%= link_to "弟子を募集する", "/companies/sign_up" %>
    </div>
    <div class="col-md-4">
      <%= link_to "弟子になる", "/users/sign_up" %>
    </div>
  </div>
</div>
