<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3 class="new-post-title">新規投稿フォーム</h3>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 border bg-light px-0 mt-5">
      <%= form_with model: @post, url: company_posts_path do |f| %>

        <table class="table border-bottom">
          <tr>
            <th>画像</th>
            <th><%= f.file_field :post_images, multiple: true %></th>
          </tr>
          <tr>
            <th>投稿内容</th>
            <th><%= f.text_area :detail %></th>
          </tr>

        </table>
        <div class="text-center">
          <%= f.button :type => "submit", class: " btn btn-success post-create-btn" do %>
            <i class="fas fa-check"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
