/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:hover {
text-decoration: none;
}
a:link { color: black; }
a:visited { color: black; }
a:hover {color: black; }
a:active { color: black; }



.top-image {
  background-image: url("assets/udonn.jpg");
  background-size:cover;
  background-position: center;
  height: 700px;
}

.top-image::before{
content: '';
position: absolute;
height: 700px;
top: 230px;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.5);
}

/*.toprow {*/
/*  padding-top: 200px;*/
/*}*/


/* slick前後ボタン */

.slick-prev
{
    left: 10px;
}
.slick-next
{
    right: 10px;
}

.slider .slick-prev,
.slider .slick-next
{
    /* スライド画像の後ろに隠れないようにする */
    z-index: 100;
}


/* topページ */

.top-text {
  margin-top: 100px;
  margin-bottom: 150px;
}

.top-btn {
  width: 90%;
  margin: 0 auto;
  height: 100px;
}


/* 各ページのボタン */

a.btn--orange {
  color: #000;
  background: #ffa500;
  border-bottom: 5px solid #b84c00;
  font-weight: bold;
}

a.btn--orange:hover {
  margin-top: 3px;
  color: #000;
  background-color: #ff8c00;
  border-bottom: 2px solid #b84c00;
}

a.btn--gray {
  color: #000;
  background: #a9a9a9;
  border-bottom: 5px solid #696969;
  font-weight: bold;
}

a.btn--gray:hover {
  margin-top: 3px;
  color: #000;
  background-color: #696969;
  border-bottom: 2px solid #696969;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  font-weight: bold;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #ffd700;
  border-bottom: 2px solid #ccc100;
}



.sign-up-field {
  margin-top: 20px;
  padding-left: 100px;
}

.sign-in-field {
  margin-top: 20px;
  padding-left: 180px;
}

input.btn--orange {
  color: #000;
  background: #ffa500;
  border-bottom: 5px solid #b84c00;
  font-weight: bold;
}

.btn--orange:hover {
  margin-top: 3px;
  color: #000;
  background-color: #ff8c00;
  border-bottom: 2px solid #b84c00;
}

.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

input.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  font-weight: bold;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #ffd700;
  border-bottom: 2px solid #ccc100;
}


/* ブックマークデザイン */
.bookmark1 {
  font-size:2em;
  color: #ffd700;
}

.bookmark2 {
  font-size:2em;
}

.heart1 {
  color: #ff7fff;
  font-size: 1.3em;
}

.heart2 {
  font-size: 1.3em;
}


/*投稿*/
.post-shadow {
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    transition: all 0.4s;
}

/*hoverをしたらボックスの影が拡がり色が濃くなる*/
.post-shadow:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
    transform: scale(1.05, 1.05);
}




/* DM機能　自分のメッセージの吹き出し*/
.says {
  float: left;
  position: relative;
  padding: 16px;
  background: #7fff7f;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #7fff7f;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

/*自分以外のメッセージの吹き出し*/
.other-user-says {
  float: right;
  position: relative;
  padding: 16px;
  background: #7fff7f;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #7fff7f;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}